# Pandas Tasks

In the task below, you will practice what you have learnt in the pandas tutorial.

## Task 1

#### Question 1. Identify two ways of creating a pandas DataFrame and create a dataframe with ten columns and twenty rows for each way

In [ ]:
import pandas as pd
# 1. using a list
names = ['Abubakar', 'Alaro', 'Academy', 'Yabebal', 'Arun', 'Abuton', 'pandas', 'task',
        'Precious', 'AbdulMaleek', 'Amina', 'Lawal', 'Lateef', 'Sulyman', 'Lordghost',
        'Sharma', 'Bolaji', 'Abdulroqeeb', 'Adejoke', 'Maryam']
scores = [80, 77,67, 87, 67, 45, 32, 67, 90, 56, 88, 65, 4, 6, 66, 37, 60, 88, 66, 77]
age = [21, 13, 33, 22, 27, 18, 19, 15, 12, 18, 19, 24, 27, 45, 58, 59, 12, 12, 19, 21]
sex = ['male','male','male','male','male','male','male','male','male','male','male','male',
      'male', 'female','female','female','female','female','female','female']
subject = ['math', 'english', 'physics', 'math', 'english', 'chemistry', 'math', 'physics', 'math',
          'biology', 'physics', 'chemistry', 'math', 'english', 'english', 'math', 'biology',
           'physics', 'english', 'biology']
height = [8.2, 7.5,6.3, 8.6, 6.6, 4.3, 3.2, 6.7, 9.10, 5.46, 8.8, 6.5, 4.8, 6.6, 6.6, 3.7, 6.0,
          8.8, 6.6, 7.7]
weight = [80, 77,67, 87, 67, 45, 32, 67, 90, 56, 88, 65, 4, 6, 66, 37, 60, 88, 66, 77]
hobby =  ['swimming', 'dancing', 'football', 'hiking', 'skating', 'jumping', 'laughing',
          'swimming', 'football', 'dancing', 'physics', 'hiking', 'dancing', 'dancing', 
          'hiking', 'swimming', 'biology',  'laughing', 'laughing', 'hiking']
sports = ['football', 'basketball', 'football', 'football', 'skating', 'f1', 'hockey',
          'tennis', 'football', 'vollyball', 'cricket', 'f1', 'badmiton', 'basketball', 
          'basketball', 'cricket', 'cricket',  'badmiton', 'cricket', 'basketball']
gp = [3.2, 3.5,2.3, 4.6, 1.6, 4.3, 3.2, 2.7, 1.10, 5.0, 4.8, 4.5, 4.8, 3.6, 1.6, 3.7, 2.0, 4.8, 3.2, 1]

# using a list
df_using_list = pd.DataFrame(zip(names, scores, age, sex, subject, height, weight, hobby, sports, gp),
                            columns=['Name', 'Scores', 'Age', 'Sex', 'Subject', 'Height', 'Weight',
                                    'Hobby', 'Sport', 'Gp'])
df_using_list.head()

In [ ]:
my_data = {
    'Name':names,
    'Scores':scores,
    'Age':age,
    'Sex':sex,
    'Subject':subject,
    'Height':height,
    'Weight':weight,
    'Hobby':hobby,
    'Sport':sports,
    'Gp':gp
}
df_using_dict = pd.DataFrame(my_data)
df_using_dict

In [ ]:
df_using_list.shape

In [ ]:
df_using_dict.shape

#### Question 2. Show a summary of your dataframe with column names, non null count and dtypes for the columns

In [ ]:
df_using_list.info()

In [ ]:
df_using_dict.info()

#### Question 3. Again show a summary of your dataframe, this time, showing the mean, count, standard deviation, minimum number etc for all the numerical columns

In [ ]:
df_using_list.describe()

In [ ]:
df_using_dict.describe()

#### Question 4. Show the number of unique values in all the columns in your dataframe

In [ ]:
df_using_list.nunique()

In [ ]:
df_using_dict.nunique()